html,body{
    width: 100%;
    height: 100%;
}

h1{
    color: red;
    font-size: 70px;
    font-weight: 800;
    
}
#bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border:  4px solid black;
    /* background-color: yellow; */
}
button{
    padding: 10px 30px;
    font-size: 30px;
    margin: 80px;
}